/* General styles for the QR Scanner Page */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: purple;
    margin-bottom: 20px;
}

/* Styling for the error message */
p {
    color: red;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}
.back-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    /* Smaller back button */
    height: 40px;
    border-radius: 50%;
    background-color: rgba(128, 0, 128, 0.1);
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    position: absolute;
    /* Position it relative to the form container */
    top: 20px;
    /* Adjust top position */
    left: 20px;
    /* Adjust left position */
    z-index: 1;
    /* Ensure it's above other content */
}


/* Back Icon */
.back-icon {
    font-size: 1.5rem;
    /* Smaller icon */
    color: purple;
}

.back-button-container:hover {
    background-color: rgba(128, 0, 128, 0.2);
}

/* Video container */
.video-container {
    width: 100%;
    max-width: 350px;
    height: auto;
    margin: 0 auto;
    /* Centering the video container */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 200px;
}

/* Video element styling */
video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

/* Container for manual input */
.manual-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

/* Styling for input field */
.manual-input {
    width: 80%;
    max-width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
    text-align: center;
    margin-bottom: 10px;
}

/* Styling for the Go button */
.go-button {
    width: 100px;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: purple;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.go-button:hover {
    background-color: darkorchid;
}

/* Responsive Design */
@media (max-width: 600px) {
    .manual-input {
        width: 90%;
    }

    .go-button {
        width: 80px;
    }
}

/* Responsive styles for small screens */
@media (max-width: 600px) {
    h2 {
        font-size: 30px;
    }

    .video-container {
        max-width: 90%;
        padding: 15px;
    }
}